In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('data.csv')
df

,num_of_insertions,num_of_deletions,num_of_changed_files,day_of_week,hour_of_commit,solve_time,resolution_time,number_of_comments,label
0,140,107,10,2,4,39213448.0,39213482.0,8,1
1,367,291,6,4,18,2078793.0,2078920.0,15,1
2,10,9,1,4,3,11618.0,11673.0,3,1
3,44,5,2,1,0,363535.0,363895.0,5,1
4,31,13,2,3,10,1446670.0,1475574.0,13,1
5,92,61,13,1,5,2858508.0,2858529.0,12,1
6,72,45,4,1,13,1316894.0,1316933.0,9,1
7,26,12,2,6,18,2007361.0,2007411.0,5,1
8,3,2,2,4,10,2587851.0,2589166.0,13,1
9,366,2,10,1,8,12624119.0,12624159.0,9,1
10,1032,253,8,0,18,333741.0,333837.0,12,1
11,226,78,7,2,23,516491.0,516553.0,14,1
12,516,1644,6,0,14,432239.0,432268.0,10,1
13,64,2,2,5,16,349724.0,351627.0,5,1
14,204,98,11,2,4,1056508.0,1056530.0,12,1
15,22,13,6,6,5,123981.0,124177.0,5,1
16,13,65,3,2,5,367298.0,367317.0,3,1
17,144,12,5,1,11,514095.0,514842.0,11,1
18,20,0,1,4,13,5662.0,5703.0,1,1
19,1695,1306,221,4,13,1373997.0,1723322.0,17,1
20,1286,0,15,0,14,3883963.0,3884073.0,21,1
21,57,47,2,1,14,343824.0,343858.0,12,1
22,509,424,10,3,14,95283.0,97565.0,9,1
23,778,11,25,1,22,3025024.0,3025392.0,22,1
24,248,34,34,4,9,5530073.0,5530251.0,21,1
25,948,406,12,1,15,2236386.0,2237533.0,6,1
26,217,268,41,1,23,1309722.0,1309752.0,12,1
27,309,3,17,3,6,5106059.0,5106081.0,10,1
28,118,13,6,3,14,2298770.0,2298923.0,17,1
29,756,201,18,2,9,2284673.0,2284738.0,19,1
...,...,...,...,...,...,...,...,...,...
12916,19,1,2,1,19,1689103.0,1689127.0,5,0
12917,17,3,4,4,10,257903.0,257953.0,3,0
12918,51,900,14,5,2,7287212.0,10806844.0,36,0
12919,4414,3,21,0,12,2414780.0,2626540.0,25,0
12920,32,22,1,0,7,265314.0,265378.0,6,0
12921,552,134,8,1,1,446168.0,446199.0,15,0
12922,5,1,1,2,21,191186.0,191211.0,7,0
12923,12,12,8,3,22,3362.0,3379.0,5,0
12924,64,7,3,2,10,95230.0,95497.0,5,0
12925,0,1,1,3,15,160710.0,160804.0,7,0
12926,975,35,15,3,18,36211650.0,36211764.0,49,0
12927,39,58696,268,0,15,5068383.0,5068426.0,26,0
12928,176,43,7,1,10,316478.0,317415.0,8,0
12929,4,4,1,4,16,3217088.0,6685037.0,28,0
12930,7,5,2,5,19,499859.0,499890.0,9,0
12931,13,1,1,4,11,70577.0,70656.0,7,0
12932,7,10,5,4,17,72986.0,73087.0,20,0
12933,45,9,19,2,9,2856384.0,2856448.0,11,0
12934,4,2,1,1,5,634984.0,635005.0,10,0
12935,228,231,2,2,21,26018549.0,25974853.0,26,0
12936,228,12,9,1,10,4741582.0,4741695.0,19,0
12937,2,16,1,0,12,657646.0,657719.0,8,0
12938,82,2,5,3,22,67019.0,67049.0,6,0
12939,53,29,4,1,0,432727.0,432788.0,5,0
12940,0,29,1,3,16,11861896.0,11861996.0,6,0
12941,0,1231,1,4,9,116.0,147.0,4,0
12942,53,4,3,4,15,165793.0,251034.0,6,0
12943,45,8,2,0,16,2213887.0,2213907.0,9,0
12944,8,2,1,3,11,77351.0,77731.0,9,0
12945,10,0,1,3,22,184953.0,197670.0,6,0

In [5]:
df1 = df[df.isna().any(axis=1)]

In [7]:
df1

,num_of_insertions,num_of_deletions,num_of_changed_files,day_of_week,hour_of_commit,solve_time,resolution_time,number_of_comments,label
124,5,5,3,3,13,35141.0,NaN,6,1
806,5131,1737,43,1,14,1802100.0,NaN,25,1
1138,375,17,18,1,11,3959610.0,NaN,2,1
1302,14,1091,20,2,16,6169227.0,NaN,16,1
1422,37,17,5,1,12,1071087.0,NaN,13,1
1492,3,78,5,0,14,63283393.0,NaN,25,1
1494,84,318,7,2,17,6558998.0,NaN,49,1
1821,537,18,7,1,17,1647685.0,NaN,29,1
2503,66,139,8,5,19,13117285.0,NaN,1,1
2554,50,40,19,0,11,1151014.0,NaN,10,1
2778,379,17,8,2,1,1958656.0,NaN,10,1
3015,69,15,6,4,20,81344.0,NaN,14,1
3279,849,151,6,1,11,8245204.0,NaN,52,1
3571,217,72,7,2,10,14059553.0,NaN,21,1
4328,98,13,2,0,22,9030573.0,NaN,9,1
4878,62,9,2,4,13,291997.0,NaN,28,1
4978,5547,245,146,5,21,27084830.0,NaN,8,1
5075,2,0,1,1,0,278202.0,NaN,21,1
5118,232,207,14,6,1,2241976.0,NaN,4,1
5484,96,66,5,3,9,11032097.0,NaN,1,1
5744,318,84,7,1,8,6440533.0,NaN,49,0
5804,8,8,1,5,10,508737.0,NaN,15,0
5809,265,22,3,3,10,154725.0,NaN,11,0
5841,1091,14,20,1,10,1825121.0,NaN,16,0
6403,409,35,9,2,17,21703941.0,NaN,23,0
6482,7,3,2,2,11,794132.0,NaN,0,0
6491,237,2,9,1,23,1211842.0,NaN,26,0
6781,3,4,1,4,17,24901968.0,NaN,20,0
7072,27,304,6,1,11,1195114.0,NaN,16,0
7108,0,0,1,2,10,28409198.0,NaN,7,0
7131,22,265,3,3,11,158711.0,NaN,11,0
7149,5,5,3,2,16,10239199.0,NaN,6,0
7905,7,0,1,2,7,119.0,NaN,0,0
8218,12,0,1,4,1,12888300.0,NaN,8,0
8502,1,1,1,0,10,258342.0,NaN,15,0
8987,142,142,5,2,19,175742.0,NaN,7,0
9043,26,19,3,4,7,10387440.0,NaN,19,0
9094,19,26,3,1,11,10747117.0,NaN,19,0
9120,6,5,1,2,18,3718185.0,NaN,13,0
9569,304,27,6,1,13,3018436.0,NaN,16,0
9684,78,3,5,4,6,62993848.0,NaN,25,0
9893,70,0,1,0,13,76535.0,NaN,8,0
10130,1,1,1,1,9,4087832.0,NaN,15,0
10548,83,0,4,0,17,-3819563.0,NaN,6,0
10629,0,0,1,4,10,28580910.0,NaN,7,0
10634,0,3486,10,2,17,1240091.0,NaN,7,0
10847,127,8,5,2,9,4079.0,NaN,0,0
10913,1,1,1,4,12,2459270.0,NaN,15,0
11033,94,98,3,4,8,3341402.0,NaN,39,0
11550,0,12,1,4,2,12893159.0,NaN,8,0
12037,1,1,1,0,14,4019292.0,NaN,15,0
12078,17,37,5,2,16,9030432.0,NaN,13,0
12195,873,688,56,1,2,403717.0,NaN,1,0
12253,35,409,9,2,15,22303461.0,NaN,23,0
12327,98,94,3,3,21,3301419.0,NaN,39,0
12593,93,0,1,1,22,17068205.0,NaN,1,0

In [8]:
df1.shape

(56, 9)